/* $0203 Inside /app/ui, create a new file called home.module.css and add the following CSS rules: */
.shape {
  height: 0;
  width: 0;
  border-bottom: 30px solid black;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}